@media (max-width: 576px) {
    .promo {
        padding: 13px 0 10px 0;
        min-height: 347px;
        .header {
            flex-direction: column;
            &__logo {
                width: 220px;
            }
            &__official {
                margin-top: 5px;
                font-size: 11px;
                span {
                    font-size: 12px;
                }
            }
            &__contacts {
                align-items: center;
                margin-top: 3px;
                a {
                    font-size: 11px;
                }
            }
            .button {
                display: none;
                // margin-top: 2px;
                // width: 111px;
                // height: 21px;
                // font-size: 10px;
            }
        }
        &__wrapper {
            margin-top: 26px;
            align-items: center;
            h1 {
                font-size: 19px;
                line-height: 21px;
                text-align: center;
            }
            h2 {
                margin-top: 0;
                font-size: 11px;
                line-height: 12px;
                text-align: center;
            }
        }
        &__icons {
            margin-top: 10px;
            width: 100%;
        }
        &__icon {
            margin-top: 0;
            font-size: 12px;
            img {
                margin-bottom: 2px;
            }
        }
        .button {
            &_main {
                margin-top: 14px;
                width: 192px;
                height:31px;
                font-size: 12px;
            }
        }
        &__link {
            margin-top: 6px;
            font-size: 11px;
        }
    }
    .advantages {
        padding: 30px 0 20px 0;
        .title {
            font-size: 21px;
        }
        &__wrapper {
            margin-top: 16px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 4px;
        }
        &__subtitle {
            margin-top: 5px;
        }
        &__descr {
            margin-top: 8px;
        }
    }
    .consultation {
        padding: 26px 0 20px 0;
        min-height: 350px;
        .title {
            &_left {
                font-size: 15px;
                text-align: center;
                line-height: 19px;
            }
        }
        &__descr {
            font-size: 13px;
            text-align: center;
        }
        .feed-form {
            margin: 20px auto 0;
            align-items: center;
            input {
                margin-bottom: 12px;
                width: 280px;
                height: 34px;
                padding: 0 11px;
            }
        }
        .button {
            &_submit {
                margin: 0 auto;
                text-align: center;
                width: 70%;
                height: 36px;
                font-size: 14px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                margin: 0 auto;
                width: 90%;
            }
        }
        ul {
            padding: 0;
            margin: 0 auto;
            width: 120px;
            list-style-position: inside;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                font-size: 1.5rem;
                button {
                    display: none;
                }
            }
        }
    }
}